<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>login</title>
<link href="../css/bootstrap.min.css" rel="stylesheet">
<style type="text/css">
#form {
	max-width: 600px;
}
</style>
</head>
<body>
	<div class="text-center">
		<h1 class="mt-5 fw-bold">login</h1>
	</div>
	<form th:action="@{/login}" method="post" id="form"
		class="container d-flex flex-column mt-5">

		<div th:if="${param.error}" class="row">
			<div class="alert alert-danger">check your ID or password</div>
		</div>

		<div class="row">
			<label for="username" class="form-label col-auto fw-bold">ID
				: </label>
			<div class="col">
				<input type="text" name="username" id="username"
					class="form-control col-auto">
			</div>
		</div>

		<div class="row mt-3">
			<label for="password" class="form-label col-auto fw-bold">PASSWORD
				: </label>
			<div class="col">
				<input type="password" name="password" id="password"
					class="form-control col-auto">
			</div>
		</div>

		<div class="text-center mt-2">
			<input type="submit" value="login" class="btn btn-primary">
		</div>

	</form>
</body>
</html>